@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300&family=Oswald:wght@500&display=swap');
/* Typical Device Breakpoints
Pequenas telas: até 600px Celular: de 600px até 768px Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
*{
    margin: 0px;
    padding: 0px;
}
header {
    background-image:linear-gradient(to bottom,  rgba(255, 255, 0, 0.693), rgba(0, 255, 98, 0.66));
    padding: 20px;
    text-align: center;
    height: 100px;
    opacity: 1;
    transition-property: heigth opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    margin-bottom: 20px;
    
}
main {
    /* background-image:linear-gradient(to bottom,  rgba(255, 255, 0, 0.693), rgba(0, 255, 98, 0.66)); */
    background-color: white;
    text-align: center;
    height: 315px;
    width: 310px;
    margin: auto;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.429);
    transition-duration: 0.3s;
    transition-property: height width transform;
    transition-timing-function: ease-in-out;
}
.logo img {
    width: 150px;
}
#conteudo{
    margin: auto;
    text-decoration: none;
    text-align: center;
    height: 30px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    user-select: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.455);
    margin-bottom: 10px;
}
#conteudo:active{
    background-color: rgb(79, 173, 173);
}
#conteudo:hover{
    background-color: rgb(81, 255, 81);
    color: black;
}
#frame{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: white;
    border-radius: 10px;
}
