@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300&family=Oswald:wght@500&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
header {
    /* background-image:linear-gradient(to bottom,  rgba(255, 255, 0, 0.693), rgba(0, 255, 98, 0.66)); */
    background-color: rgba(80, 124, 195, 0.992);
    text-align: center;
    height: 100px;
    margin-bottom: 150px;
}
img#topo {
    width: 130px;
}
img#login {
    width: 200px;
    float: left;
}
#caixa {
    height: 150px;
    width: 500px;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.64);
    margin: auto;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    position: relative;
    animation-name: opacity;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
input {
    margin-bottom: 5px;
    padding: 5px;
    margin-top: 50px;
}
button {
    background-color: rgb(37, 131, 37);
    border: none;
    color: white;
    width: 175px;
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.651);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
button:active{
    background-color: rgba(27, 79, 19, 0.867);
    box-shadow: none;
    transform: scale(1.1);
    
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
}
footer{
    background-color:rgba(80, 124, 195, 0.992);
    text-align: center;
}
.contato {
    margin: 20px;
}
#vai{
    color: red;
    margin-top: 20px;
    left: 200px;
    position: absolute;
    right: 0;
}
@media screen and (max-width: 768px) {
    header {
        margin-bottom: 20px;
    }
    #caixa {
        height: 480px;
        min-width: 300px;
        width: 300px;
        box-shadow:0px 0px 5px rgba(0, 0, 0, 0.64);
        margin: auto;
        animation-name: opacity2;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    @keyframes opacity2 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    img#login {
        width: 300px;
    }
    #vai{
        color: red;
        margin-top: 20px;
        position: absolute;
        left: 0;
        right: 0;
    }
    
}
